.footer {
    box-shadow: 0px 0px 10px 1px #000;
    padding: 10px 0;
    z-index: 1;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__github {
    display: flex;
    align-items: center;
}

.footer__github:hover .footer__github-icon {
    fill: green;
}

.footer__github:hover .footer__github-username {
    color: green;
}

.footer__github-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
}

.footer__github-username {
    color: #000;
    transition: all 0.3s ease-in-out;
}
